Body{
  background-color:rgb(153 245 255);
}
.header{
    font-size: 8vh;
    margin: 50px 0px 50px 0px;
    text-align: center;
    color: rgb(1, 72, 72);
}
#btn_theme{
    position: absolute;
    top: 4.5em;
    right: 50px;
}
@media(max-width : 730px){
    #theme_btn{
        height: 55px;
        width: 70px;
    }
    #theme_btn_dark{
        height: 55px;
        width: 70px;
    }
}
@media(max-width:530px){
    #btn_theme{
    top: 4.5em;
    right: -50px;
}
}
.header_dark{
    font-size: 8vh;
    margin: 50px 0px 50px 0px;
    text-align: center;
    color: rgb(255 255 255);
}
#theme_btn{
    border-radius:75% ;
    background-color: rgba(0, 148, 168, 0.533);
    border-radius: 5px;
    padding: 10px;
    font-size: 2vh;
}
#theme_btn_dark{
    border-radius:75% ;
    background-color: rgb(206 206 206 / 53%);
    border-radius: 5px;
    padding: 10px;
    font-size: 2vh;
}
.div1, .div2{
    text-align: center;
    padding: 2vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.quiz_box{
    height: 15vh;
    width: 20vh;
    text-align: center;
    background-color: rgb(123, 187, 195);
    padding: 3em;
    border-radius: 10px;
}
.quiz_box_dark{
    height: 15vh;
    width: 20vh;
    text-align: center;
    background-color: rgb(60, 60, 60);
    padding: 3em;
    border-radius: 10px;
}
.quiz_box:hover{
    box-shadow: 0px 0px 10px 3px rgb(123, 187, 195);
}
.h4{
    font-size: 3vh;
    margin: 0px;
    color: rgb(1, 72, 72);
}
.h4_dark{
    font-size: 3vh;
    margin: 0px;
    color: rgb(255 255 255);
}
#h4_div{
        height: 10vh;
}
.btn{
    background-color: rgba(0, 148, 168, 0.533);
    border-radius: 5px;
    padding: 10px;
    font-size: 2vh;
}
.btn_dark{
    background-color:rgb(206 206 206 / 53%);
    border-radius: 5px;
    padding: 10px;
    font-size: 2vh;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0px 1px 5px 3px rgb(0, 171, 194);
}
.btn_dark:hover{
    transform: scale(1.05);
    box-shadow: 0px 1px 5px 3px rgb(203, 203, 203);
}

#result_btn{
    text-align: center;
    margin-top: 5vh;
}

#result{
    text-align: center;
    background-color: rgb(123, 187, 195);
    padding: 1em;
    border-radius: 10px;
    justify-self: center;
    align-content: center;
    margin-top: 4vh;
}
#result_dark{
    text-align: center;
    background-color: rgb(127 132 132);
    padding: 1em;
    border-radius: 10px;
    justify-self: center;
    align-content: center;
    margin-top: 4vh;
}
@media(max-width:500px){
    button{
        padding: 10px;
        font-size: 12px;
        width: max-content;
    }
    h4{
      font-size: 1em;  
    }
}