.header{
    font-size: 8vh;
    margin: 50px 0px 50px 0px;
    text-align: center;
}
.div1, .div2{
    text-align: center;
    padding: 2vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.quiz_box{
    height: 15vh;
    width: 20vh;
    text-align: center;
    background-color: steelblue;
    padding: 3em;
    border-radius: 10px;
}
h4{
    font-size: 3vh;
    margin: 0px;
}
#h4_div{
        height: 10vh;
}
button{
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
    font-size: 2vh;
}

@media(max-width:500px){
    button{
        padding: 10px;
        font-size: 12px;
        width: max-content;
    }
    h4{
      font-size: 1em;  
    }
}