#question{
    background-color: rgb(123, 187, 195);
    border-radius: 10px;
    padding: 2em;
    margin-top: 10vh;
}

#question_dark{
    background-color: rgb(60, 60, 60);
    border-radius: 10px;
    padding: 2em;
    margin-top: 10vh;
}
#ques{
    display: flex;
    font-size: large;
    font-weight: 900;
    color: black;
}
#q{
    margin: 0px 5px 0px 0px;
    color: black;
}
#ques_dark{
    display: flex;
    font-size: large;
    font-weight: 900;
    color: white;
}
#q_dark{
    margin: 0px 5px 0px 0px;
    color: white;
}
.option_list{
    list-style: none;
    margin-left: -12px;
    background: rgb(190, 247, 253);
    border-radius: 8px;
    padding: 15px;
}
.option_list_dark{
    list-style: none;
    margin-left: -12px;
    background: rgb(108 108 108);
    border-radius: 8px;
    padding: 15px;
}
#option{
    display: flex;
}
#op{
    color: black;
}

#op_dark{
    color: white;
}
.button{
    background-color: rgba(0, 148, 168, 0.533);
    border-radius: 5px;
    padding: 10px;
    font-size: 2vh;
}
.button_dark{
    background-color:rgb(206 206 206 / 53%);
    border-radius: 5px;
    padding: 10px;
    font-size: 2vh;
}
