#question{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 1.5em;
}

#ques{
    display: flex;
    font-size: large;
    font-weight: 900;
}
#q{
    margin: 0px 5px 0px 0px;
}
.option_list{
    list-style: none;
    margin-left: -12px;
    background: antiquewhite;
    border-radius: 8px;
    padding: 15px;
}
#option{
    display: flex;
}
