#question{
    background-color: rgb(123, 187, 195);
    border-radius: 10px;
    padding: 2em;
    margin-top: 10vh;
}

#ques{
    display: flex;
    font-size: large;
    font-weight: 900;
}
#q{
    margin: 0px 5px 0px 0px;
}
.option_list{
    list-style: none;
    margin-left: -12px;
    background: rgb(190, 247, 253);
    border-radius: 8px;
    padding: 15px;
}
#option{
    display: flex;
}

