.header{
  justify-items: center;
}
#conter_heading{
  font-size: xxx-large;
    text-align: center;
    margin-top: 10vh;
    background-color: #315c88;
    color: aliceblue;
    width: 50%;
    border-radius: 1em;
}
.counter_main{
    margin-top: 5em;
    text-align: center;
    justify-items: center;
}
#conter_display{
    width: 15%;
    height: 4em;
    background-color: #ffffff;
    justify-self: center;
    border-radius: 10px;
    color: black;
}
#count{
    font-size: xx-large;
    color: black;
    background-color: #ffff;
    border-radius: 10px;
    padding-top: 10px;
}
#btn_incerement{
    color: black;
    background-color: rgb(4, 154, 4);
    padding: 0.8em;
    border-radius: 8px;
}
#btn_decrement{
    color: black;
    background-color: red;
    padding: 0.6em;
    margin: 15px 0px 15px 0px;
    border-radius: 8px;
}